{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">
        {% if user.is_authenticated %}
            <!--    <h1 style="color: white;">Total: {{importe_total_carro}} €</h1> -->
            {% include "carro/widget.html" %}
        {% else %}
            <div class="alert alert-danger">You must LogIn to see the cart</div>
        {% endif %}
    </div>

</div>

<div class="row" style="background-color: slategrey; padding-right: 3%;">
    {% for producto in productos %}
        <div class="col-md-3">
        <div class="card" style="width: 8.2rem; margin-right: 5px;">
            <!-- el if es por si no hay imagen asociada, no salte el error -->
            {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" height="225px" width="225px">
            <!-- imagen por defecto -->
            {% else %}
                <img src="{% static 'ProyectoWebApp/img/exit.png' %}" alt="My image" height="225px" width="225px">
            {% endif %}
            <div class="card-body" style="text-align: center; width: 225px; background-color: white;">
                <h7 class="card-title" style="font-size: 1vw larger; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{producto.nombre}}</h7>
                <p class="card-text" style="font-size: 1vw larger;">{{producto.precio}}&nbsp;€</p>
            </div>
        </div>  
            <div class="card-footer text-center" style="background-color: teal; width: 225px;">
                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success" style="padding: 10%;margin-left: 1%;">Agregar al carro</a>
            </div>  
        </div>
    {% endfor %}
</div>

{% endblock %}  
